.sideTitle{
    margin-top:50px;
    background : #E9E9E9;

}

.topicTitle{
    margin-top: 2vh;
    margin-bottom: 0px;
    width: 15vw;
    height: 100%;
}

.topicDescription{
    margin-top: 0px;
    position: relative;
    width: 15vw;
    
}

.textArea{
    margin-top: 10px;
}

.course{
    margin-bottom: 10px;
}

.sendButton{
    
}